:root {
  --primary-color: #add8e6;
  --text-color: #000;
  --padding-of: 5px 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* Try to learn why to use heigh and widht 100% we use here. DOn't just blindly follow it okay */
  height: 100%;
  width: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.header h1 {
  text-align: center;
  font-size: 52px;
}

.header h3 {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 3px;
}

header .applicantPhoto {
  height: 150px;
  width: 150px;
  border: 2px solid var(--primary-color);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-23%);
}

main .title {
  display: flex;
  justify-content: center;
  padding: 25px;
}
main .title h1 {
  background-color: var(--primary-color);
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 25px;
  color: var(--text-color);
}
form {
  padding: 10px 0px;
}
.formRow {
  display: flex;
  width: 100%;
}
.inputGroup {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}
.inputGroup label {
  background-color: var(--primary-color);
  padding: var(--padding-of);
  border: 2px solid var(--primary-color);
  color: black;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 230px;
}
.inputGroup input {
  width: 100%;
  padding: var(--padding-of);
  border: 2px solid var(--primary-color);
  border-left: none;
  outline: none;
}
main .aboutFormDetail .formRow .inputGroup:first-child input {
  border-right: none;
}
main .personalInfo h1 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  padding: var(--padding-of);
}
main .personalInfo .container {
  width: 100%;
}
main .personalInfo .container .formFull {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
main .personalInfo .container .formFull label {
  background-color: var(--primary-color);
  padding: var(--padding-of);
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 230px;
}

main .personalInfo .container .formFull input {
  width: 100%;
  border: 2px solid var(--primary-color);
  padding: var(--padding-of);
  outline: none;
  border-left: none;
}

.inputGroup input,
.formFull input {
  flex: 1;
}
